@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Press+Start+2P|Roboto|Roboto+Condensed&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fonts */
    --roboto: 'Roboto', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --robcon: 'Roboto Condensed', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --lfont: 'Press Start 2P', cursive;


    /* colors */
    --white: rgba(242, 242, 242, 1);
    --gray: rgba(191, 191, 191, 1);
    --mgray: rgba(114, 114, 114, 1);
    --dgray: rgba(63, 63, 63, 1);
    --black: rgba(12, 12, 12, 1);



}



.logo {
    font-family: var(--lfont) !important;
    color: white !important;
}

.fa-bars {
    color: white;
    font-size: 1.2rem;
}

.nav-link {
    font-family: var(--lfont) !important;
    color: white !important;
    font-size: .4rem;
    text-transform: uppercase;

}

.nav-custom {

    margin: 0 !important;
    background: var(--black) !important;
    box-shadow: 0px 0px 10px var(--gray1);
    ;
}

.landing {
    padding-top: 2px;
    background: url('/img/bg.jpg');
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(12, 12, 12, .65);
}

.name {
    font-family: var(--lfont);
    font-size: 1.5rem;
    color: white;
}

.bio {
    font-family: var(--robcon);
    color: white;
}

.languages {
    background: url('/img/matrix.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(12, 12, 12, .75);
}

.card-title {
    font-family: var(--lfont);
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
}

.lan {
    font-family: var(--lfont);
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;

}

.list-group-item {
    font-family: var(--robcon);
    color: white;
    opacity: .9;
}

.card {
    background: var(--black);
}

.card:hover {
    background: var(--gray);
}

.list-group-item {
    background: var(--black);
}

.mycon {
    color: white;
    font-size: 1.4rem;
}

.mycon:hover {
    color: var(--mgray);
    cursor: pointer;
}

.projects {
    background: url('/img/mount.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(12, 12, 12, .85);
}

.card-text {
    color: white;
}

.card-text:hover {
    color: var(--black);
}

.footer {
    background: var(--dgray);
}

.footer-text {
    font-family: var(--robcon);
    color: white;
    opacity: .9;

}

.flex-item {
    margin-bottom: 50px;
}

.myBtn {
    background: whitesmoke !important;
    color: black !important;
    border: none;
}

.myBtn:hover {
    background: black !important;
    color: white !important;
}